* {
  padding: 0;
  margin: 0;
  font-family: PingFangSC-Light, 'STHeiti Light', 'helvetica neue', 'hiragino sans gb', arial, 'microsoft yahei ui', 'microsoft yahei', simsun, sans-serif;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
header {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #e4e4e4;
  background-color: #fff;
  box-sizing: border-box;
}
header .page-head {
  width: 1000px;
  margin: 0 auto;
  font-size: 0;
}
header .page-head .page-logo {
  width: 100px;
  height: 40px;
  display: inline-block;
  float: left;
  margin-right: 70px;
  margin-top: 15px;
}
header .page-head .page-logo img {
  width: 100px;
  height: 40px;
}
header .page-head .page-nav {
  width: 440px;
  display: inline-block;
  height: 70px;
  line-height: 70px;
}
header .page-head .page-nav .page-nav-list {
  list-style: none;
}
header .page-head .page-nav .page-nav-list .nav-home {
  float: left;
  position: relative;
  font-size: 15px;
  padding-right: 32px;
  cursor: pointer;
}
header .page-head .page-nav .page-nav-list .nav-home .major-link {
  text-decoration: none;
  color: #666;
  font-weight: 300;
}
header .page-head .page-nav .page-nav-list .nav-profession {
  position: relative;
  cursor: pointer;
  font-size: 15px;
  padding-right: 32px;
  float: left;
}
header .page-head .page-nav .page-nav-list .nav-profession .major-link {
  font-size: 15px;
  font-weight: 300;
  color: #666;
  text-decoration: none;
}
header .page-head .page-nav .page-nav-list .nav-profession .major-link i {
  background-image: url(../images/sb.png);
  display: inline-block;
  width: 11px;
  height: 7px;
  margin-left: 5px;
  background-position: 0px -47px;
}
header .page-head .page-nav .page-nav-list .nav-profession .profession-item {
  width: 200px;
  z-index: 999;
  position: absolute;
  left: 0;
  top: 69px;
  background-color: #fff;
  padding-top: 5px;
  border-top: 1px solid #e4e4e4;
  box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.3);
  display: none;
}
header .page-head .page-nav .page-nav-list .nav-profession .profession-item strong {
  display: block;
  background-color: #fafafa;
  color: #b9b9b9;
  font-weight: 100;
  line-height: 20px;
  font-size: 12px;
  padding: 0 15px;
}
header .page-head .page-nav .page-nav-list .nav-profession .profession-item a {
  display: block;
  background-color: #fff;
  font-size: 12px;
  text-decoration: none;
  font-weight: 100;
  color: #666;
  line-height: 30px;
  padding: 0 15px;
}
header .page-head .page-nav .page-nav-list .nav-profession .profession-item a i {
  background-image: url(../images/sb.png);
  width: 14px;
  height: 14px;
  display: inline-block;
  float: left;
  margin-top: 8px;
  margin-right: 10px;
}
header .page-head .page-nav .page-nav-list .nav-profession .profession-item a .web-icon {
  background-position: -94px -23px;
}
header .page-head .page-nav .page-nav-list .nav-profession .profession-item a .wx-icon {
  background-position: -99px 0px;
}
header .page-head .page-nav .page-nav-list .nav-profession .profession-item a .andriod-icon {
  background-position: 0px -26px;
}
header .page-head .page-nav .page-nav-list .nav-profession .profession-item a .ios-icon {
  background-position: -49px -19px;
}
header .page-head .page-nav .page-nav-list .nav-profession .profession-item a .pth-icon {
  background-position: -76px 0px;
}
header .page-head .page-nav .page-nav-list .nav-profession .profession-item a .pyp-icon {
  background-position: -48px 0px;
}
header .page-head .page-nav .page-nav-list .nav-profession .profession-item a .gl-icon {
  background-position: -20px -26px;
}
header .page-head .page-nav .page-nav-list .nav-profession .profession-item a .jw-icon {
  background-position: -20px -26px;
}
header .page-head .page-nav .page-nav-list .nav-profession .profession-item a .data-icon {
  background-position: -20px -26px;
}
header .page-head .page-nav .page-nav-list .nav-profession .profession-item a .mlearning-icon {
  background-position: -20px -26px;
}
header .page-head .page-nav .page-nav-list .nav-profession .profession-item a .yw-icon {
  background-position: -20px -26px;
}
header .page-head .page-nav .page-nav-list .nav-profession .profession-item a .ui-icon {
  background-position: -20px -26px;
}
header .page-head .page-nav .page-nav-list .nav-lesson {
  position: relative;
  cursor: pointer;
  font-size: 15px;
  padding-right: 32px;
  float: left;
}
header .page-head .page-nav .page-nav-list .nav-lesson .major-link {
  text-decoration: none;
  font-size: 15px;
  font-weight: normal;
  color: #666;
}
header .page-head .page-nav .page-nav-list .nav-lesson .major-link i {
  background-image: url(../images/sb.png);
  display: inline-block;
  width: 11px;
  height: 7px;
  margin-left: 5px;
  background-position: 0px -47px;
}
header .page-head .page-nav .page-nav-list .nav-lesson .lesson-link {
  width: 200px;
  z-index: 999;
  position: absolute;
  left: 0;
  top: 69px;
  background-color: #fff;
  padding-top: 5px;
  border-top: 1px solid #e4e4e4;
  box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.3);
  display: none;
}
header .page-head .page-nav .page-nav-list .nav-lesson .lesson-link a {
  display: block;
  background-color: #fff;
  font-size: 12px;
  text-decoration: none;
  font-weight: 100;
  color: #666;
  line-height: 35px;
  padding: 0 15px;
}
header .page-head .page-nav .page-nav-list .nav-lesson .lesson-link a:nth-child(2n) {
  background-color: #fafafa;
}
header .page-head .page-nav .page-nav-list .nav-company {
  position: relative;
  cursor: pointer;
  font-size: 15px;
  padding-right: 32px;
  float: left;
}
header .page-head .page-nav .page-nav-list .nav-company .major-link {
  text-decoration: none;
  font-size: 15px;
  font-weight: normal;
  color: #666;
}
header .page-head .page-nav .page-nav-list .nav-company .major-link i {
  background-image: url(../images/sb.png);
  display: inline-block;
  width: 11px;
  height: 7px;
  margin-left: 5px;
  background-position: 0px -47px;
}
header .page-head .page-nav .page-nav-list .nav-company .company-link {
  width: 200px;
  z-index: 999;
  position: absolute;
  left: 0;
  top: 69px;
  background-color: #fff;
  padding-top: 5px;
  border-top: 1px solid #e4e4e4;
  box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.3);
  display: none;
}
header .page-head .page-nav .page-nav-list .nav-company .company-link a {
  display: block;
  background-color: #fff;
  font-size: 12px;
  text-decoration: none;
  font-weight: 100;
  color: #666;
  line-height: 35px;
  padding: 0 15px;
}
header .page-head .page-nav .page-nav-list .nav-company .company-link i {
  background-image: url(../images/2sb.png);
  display: inline-block;
  height: 14px;
  width: 14px;
  float: left;
  margin-top: 11px;
  margin-right: 5px;
}
header .page-head .page-nav .page-nav-list .nav-company .company-link .wr-icon {
  background-position: -35px 0px;
}
header .page-head .page-nav .page-nav-list .nav-company .company-link .ai-icon {
  background-position: -72px 0px;
}
header .page-head .page-nav .page-nav-list .nav-company .company-link .aws-icon {
  background-position: -20px 0px;
}
header .page-head .page-nav .page-nav-list .nav-company .company-link .tx-icon {
  background-position: 0px 0px;
}
header .page-head .page-nav .page-nav-list .nav-company .company-link .ql-icon {
  background-position: -50px 0px;
}
header .page-head .page-nav .page-nav-list .nav-company .company-link a:nth-child(2n) {
  background-color: #fafafa;
}
header .page-head .page-nav .page-nav-list .nav-com {
  position: relative;
  cursor: pointer;
  font-size: 15px;
  padding-right: 32px;
  float: left;
}
header .page-head .page-nav .page-nav-list .nav-com .major-link {
  text-decoration: none;
  font-size: 15px;
  font-weight: normal;
  color: #666;
}
header .page-head .page-nav .page-nav-list .nav-com .major-link i {
  background-image: url(../images/sb.png);
  display: inline-block;
  width: 11px;
  height: 7px;
  margin-left: 5px;
  background-position: 0px -47px;
}
header .page-head .page-nav .page-nav-list .nav-com .com-link {
  width: 200px;
  z-index: 999;
  position: absolute;
  left: 0;
  top: 69px;
  background-color: #fff;
  padding-top: 5px;
  border-top: 1px solid #e4e4e4;
  box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.3);
  display: none;
}
header .page-head .page-nav .page-nav-list .nav-com .com-link a {
  display: block;
  background-color: #fff;
  font-size: 12px;
  text-decoration: none;
  font-weight: 100;
  color: #666;
  line-height: 35px;
  padding: 0 15px;
}
header .page-head .page-nav .page-nav-list .nav-com .com-link a:nth-child(2) {
  background-color: #fafafa;
}
header .page-head .page-nav .page-nav-list .nav-profession:hover .profession-item {
  display: block;
}
header .page-head .page-nav .page-nav-list .nav-profession:hover i {
  transform: rotate(180deg);
  transition: all 0.5s ease;
}
header .page-head .page-nav .page-nav-list .nav-lesson:hover .lesson-link {
  display: block;
}
header .page-head .page-nav .page-nav-list .nav-lesson:hover i {
  transform: rotate(180deg);
  transition: all 0.5s ease;
}
header .page-head .page-nav .page-nav-list .nav-company:hover .company-link {
  display: block;
}
header .page-head .page-nav .page-nav-list .nav-company:hover i {
  transform: rotate(180deg);
  transition: all 0.5s ease;
}
header .page-head .page-nav .page-nav-list .nav-com:hover .com-link {
  display: block;
}
header .page-head .page-nav .page-nav-list .nav-com:hover i {
  transform: rotate(180deg);
  transition: all 0.5s ease;
}
header .page-head .page-search {
  display: inline-block;
  width: 230px;
  vertical-align: top;
  margin-top: 20px;
}
header .page-head .page-search input {
  width: 190px;
  height: 30px;
  box-sizing: border-box;
  padding: 0 10px;
  outline: none;
}
header .page-head .page-search button {
  width: 40px;
  height: 30px;
  float: right;
  border-left: none;
  outline: none;
}
header .page-head .page-search button img {
  padding-top: 1px;
}
header .page-head .page-login {
  width: 85px;
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
  margin-left: 40px;
}
header .page-head .page-login .page-mess {
  display: inline-block;
}
header .page-head .page-login .page-mess img {
  padding-bottom: 5px;
}
header .page-head .page-login .login {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 30px;
}
header .page-head .page-login .login img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}
